In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page: url ='https://en.wikipedia.org/wiki/Python'

In [3]:
url ='https://en.wikipedia.org/wiki/Python'

In [4]:
response = requests.get(url)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
#mw-content-text > div.mw-parser-output
#mw-content-text > div.mw-parser-output > ul:nth-child(7)
#Snakes

In [9]:
soup.select("#mw-content-text > div.mw-parser-output > ul:nth-child(7)")

[<ul><li><a href="/wiki/Pythonidae" title="Pythonidae">Pythonidae</a>, a family of nonvenomous snakes found in Africa, Asia, and Australia
 <ul><li><a href="/wiki/Python_(genus)" title="Python (genus)"><i>Python</i> (genus)</a>, a genus of Pythonidae found in Africa and Asia</li></ul></li>
 <li><a href="/wiki/Python_(mythology)" title="Python (mythology)">Python (mythology)</a>, a mythical serpent</li></ul>]

#### Find the number of titles that have changed in the United States Code since its last release point: url = 'http://uscode.house.gov/download/download.shtml'

In [11]:
url = 'http://uscode.house.gov/download/download.shtml'

In [12]:
response = requests.get(url)
response.status_code

200

In [13]:
soup = BeautifulSoup(response.content, "html.parser")

In [26]:
#content > div > div > div.uscitemlist
#content > div > div > div.uscitemlist > div:nth-child(4)
#us\/usc\/t1
#us\/usc\/t2
len(soup.select(".usctitle"))

55

#### Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'

In [27]:
url = 'https://www.fbi.gov/wanted/topten'

In [28]:
response = requests.get(url)
response.status_code

200

In [29]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(2) > h3 > a

In [31]:
soup.select("h3 > a")[0].get_text()

'OMAR ALEXANDER CARDENAS'

In [33]:
len(soup.select("h3 > a"))

10

In [34]:
name = []


num_iter = len(soup.select("h3 > a"))

for i in range(num_iter):
    name.append(soup.select("h3 > a")[i].get_text())
    

df = pd.DataFrame({"name":name})
df

                                name
0            OMAR ALEXANDER CARDENAS
1                      ALEXIS FLORES
2     BHADRESHKUMAR CHETANBHAI PATEL
3         ALEJANDRO ROSALES CASTILLO
4        YULAN ADONAY ARCHAGA CARIAS
5                      RUJA IGNATOVA
6                    ARNOLDO JIMENEZ
7                MICHAEL JAMES PRATT
8  JOSE RODOLFO VILLARREAL-HERNANDEZ
9               RAFAEL CARO-QUINTERO

#### Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe: url = 'https://www.emsc-csem.org/Earthquake/'

In [53]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [54]:
response = requests.get(url)
response.status_code

200

In [55]:
soup = BeautifulSoup(response.content, "html.parser")

In [56]:
#\31 242802 > td.tabev6 > b > a
#\31 242802 > td:nth-child(5)
#\31 242802 > td:nth-child(6)
#\31 242802 > td:nth-child(7)
#\31 242802 > td:nth-child(8)
#\31 242802
#reg0

In [57]:
soup.select("b > a")[0].get_text()

'2023-03-27\xa0\xa0\xa022:23:03.3'

In [61]:
soup.select("td.tabev1")[0].get_text()

'41.66\xa0'

In [62]:
soup.select("td.tabev2")[0].get_text()

'N\xa0\xa0'

In [67]:
soup.select("td.tb_region")[0].get_text()

'\xa0SOUTHERN ITALY'

In [68]:
len(soup.select("b > a"))

51

In [ ]:
date_time = []
latitude = []
longitude = []
region_name = []


num_iter = len(soup.select("b > a"))

for i in range(num_iter):
    date_time.append(soup.select("b > a")[i].get_text())
    if i
    latitude.append(soup.select("p > em")[i].get_text())

df = pd.DataFrame({"song":title,"artist":singer})
df