In [132]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [133]:
# body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper

In [134]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [135]:
# 3. download html with a get request
response = requests.get(url)
response.status_code

200

In [136]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [327]:
#soup

In [328]:
#soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8")

In [329]:
#soup.select("div.chart-wrapper p")

In [140]:
soup.select("p.chart-position")[0].get_text()

'1'

In [141]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite

In [142]:
soup.select("p.title-artist cite.title")[0].get_text()

'Flowers'

In [143]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > em

In [144]:
soup.select("p > em")[0].get_text()

'Miley Cyrus'

In [145]:
title = []
singer = []

num_iter = len(soup.select("div.chart-content.col-xs-12.col-sm-8"))

for i in range(num_iter):
    title.append(soup.select("p.title-artist cite.title")[i].get_text())
    singer.append(soup.select("p > em")[i].get_text())

df = pd.DataFrame({"song":title,"artist":singer})
df

                             song                     artist
0                         Flowers                Miley Cyrus
1                      Last Night              Morgan Wallen
2                        Fast Car                 Luke Combs
3   Like Crazy (Deep House Remix)                      Jimin
4    Like Crazy (UK Garage Remix)                      Jimin
..                            ...                        ...
95                      Trump Won              Natasha Owens
96                   Just Pretend                  Bad Omens
97                I'm Good (Blue)  David Guetta & Bebe Rexha
98           Pretty Little Poison             Warren Zeiders
99                         Heaven                Niall Horan

[100 rows x 2 columns]

## Instructions Part 1
### Prioritize the MVP (Minimum Viable Product)

In [210]:
url1 = "https://en.wikipedia.org/wiki/List_of_Eurodance_songs"

In [211]:
# 3. download html with a get request
response1 = requests.get(url1)
response1.status_code

200

In [212]:
# 4.1. parse html (create the 'soup')
soup1 = BeautifulSoup(response1.content, "html.parser")

In [349]:
#mw-content-text > div.mw-parser-output
#mw-content-text > div.mw-parser-output > table:nth-child(10) > tbody
#soup1.select("#mw-content-text > div.mw-parser-output")

In [171]:
#mw-content-text > div.mw-parser-output > table:nth-child(10) > tbody > tr:nth-child(2) > td:nth-child(4)
#mw-content-text > div.mw-parser-output > table:nth-child(10) > tbody > tr:nth-child(2) > td:nth-child(2)
#mw-content-text > div.mw-parser-output > table:nth-child(14) > tbody > tr:nth-child(16) > td:nth-child(3)

In [214]:
soup1.select("#mw-content-text > div.mw-parser-output > table:nth-child(10) > tbody > tr:nth-child(2) > td:nth-child(2)")

In [217]:
soup1.select("td:nth-child(2)")[0].get_text()

'Black Box'

In [218]:
soup1.select("td:nth-child(4)")[0].get_text()

'"Ride On Time"[1]\n'

In [229]:
len(soup1.select("td:nth-child(2)"))

95

In [251]:
title1 = []
singer1 = []

num_iter1 = len(soup1.select("td:nth-child(2)"))

for i in range(num_iter1):
    title1.append(soup1.select("td:nth-child(4)")[i].get_text())
    singer1.append(soup1.select("td:nth-child(2)")[i].get_text())

                            song                            artist
0            "Ride On Time"[1]\n                         Black Box
1      "Pump Up the Jam"[2][3]\n                      Technotronic
2               "The Power"[4]\n                             Snap!
3      "Get Ready for This"[5]\n                       2 Unlimited
4               "Crucified"[6]\n                    Army of Lovers
..                           ...                               ...
90               "Tacata'"[93]\n                           Tacabro
91  "All Around the World"[94]\n  Justin Bieber featuring Ludacris
92              "Glorious"[95]\n                           Cascada
93        "Walking on Air"[96]\n                        Katy Perry
94              "One Kiss"[97]\n          Calvin Harris & Dua Lipa

[95 rows x 2 columns]

In [254]:
for i in range(len(title1)):
    title1[i] = title1[i].strip() 
    title1[i] = title1[i].replace('"', '')  
    title1[i] = title1[i].split('[')[0]  

       
df1 = pd.DataFrame({"song":title1,"artist":singer1})
df1

                    song                            artist
0           Ride On Time                         Black Box
1        Pump Up the Jam                      Technotronic
2              The Power                             Snap!
3     Get Ready for This                       2 Unlimited
4              Crucified                    Army of Lovers
..                   ...                               ...
90               Tacata'                           Tacabro
91  All Around the World  Justin Bieber featuring Ludacris
92              Glorious                           Cascada
93        Walking on Air                        Katy Perry
94              One Kiss          Calvin Harris & Dua Lipa

[95 rows x 2 columns]

In [257]:
df1 = pd.concat([df,df1], axis=0)
df1

                             song                            artist
0                         Flowers                       Miley Cyrus
1                      Last Night                     Morgan Wallen
2                        Fast Car                        Luke Combs
3   Like Crazy (Deep House Remix)                             Jimin
4    Like Crazy (UK Garage Remix)                             Jimin
..                            ...                               ...
90                        Tacata'                           Tacabro
91           All Around the World  Justin Bieber featuring Ludacris
92                       Glorious                           Cascada
93                 Walking on Air                        Katy Perry
94                       One Kiss          Calvin Harris & Dua Lipa

[195 rows x 2 columns]

In [273]:
url2 = "https://en.wikipedia.org/wiki/List_of_songs_in_Rock_Band"

In [274]:
response2 = requests.get(url2)
response2.status_code

200

In [275]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [ ]:
#mw-content-text > div.mw-parser-output > table:nth-child(11) > tbody > tr:nth-child(1) > td:nth-child(1) > b > a
#mw-content-text > div.mw-parser-output > table:nth-child(11) > tbody > tr:nth-child(1) > td:nth-child(2)
#mw-content-text > div.mw-parser-output > table:nth-child(11) > tbody > tr:nth-child(10) > td:nth-child(2)

In [304]:
soup2.select("td:nth-child(1)")[0].get_text()

'"Are You Gonna Be My Girl"\n'

In [278]:
soup2.select("td:nth-child(2)")[0].get_text()

'Jet\n'

In [305]:
len(soup2.select("td:nth-child(1)"))

73

In [306]:
title2 = []
singer2 = []

num_iter2 = len(soup2.select("td:nth-child(1)"))

for i in range(num_iter2):
    title2.append(soup2.select("td:nth-child(1)")[i].get_text())
    singer2.append(soup2.select("td:nth-child(2)")[i].get_text())

In [309]:
for i in range(len(title2)):
    title2[i] = title2[i].replace('"', '').replace('\n', '')    
    
for i in range(len(singer2)):
    singer2[i] = singer2[i].replace('\n', '')   
       
df2 = pd.DataFrame({"song":title2,"artist":singer2})
df2

,song,artist
0,Are You Gonna Be My Girl,Jet
1,Ballroom Blitz,Sweet
2,Black Hole Sun,Soundgarden
3,Blitzkrieg Bop,Ramones
4,Celebrity Skin,Hole
...,...,...
68,Monsoon,Tokio Hotel
69,New Wave,Pleymo
70,Perfekte Welle,Juli
71,Rock 'n' Roll Star,Oasis
72,Category,Rock BandsongsRock Band 2songsRock Band 3songs...

In [310]:
df1 = pd.concat([df1,df2], axis=0)
df1

,song,artist
0,Flowers,Miley Cyrus
1,Last Night,Morgan Wallen
2,Fast Car,Luke Combs
3,Like Crazy (Deep House Remix),Jimin
4,Like Crazy (UK Garage Remix),Jimin
...,...,...
68,Monsoon,Tokio Hotel
69,New Wave,Pleymo
70,Perfekte Welle,Juli
71,Rock 'n' Roll Star,Oasis
72,Category,Rock BandsongsRock Band 2songsRock Band 3songs...

In [311]:
url3 = "https://en.wikipedia.org/wiki/List_of_rock_instrumentals"

In [312]:
response3 = requests.get(url3)
response3.status_code

200

In [313]:
soup3 = BeautifulSoup(response3.content, "html.parser")

In [ ]:
#mw-content-text > div.mw-parser-output > table:nth-child(7) > tbody > tr:nth-child(1) > td:nth-child(2)
#mw-content-text > div.mw-parser-output > table:nth-child(7) > tbody > tr:nth-child(1) > td:nth-child(1)

In [314]:
soup3.select("td:nth-child(1)")[0].get_text()

'Bill Justis\n'

In [315]:
soup3.select("td:nth-child(2)")[0].get_text()

'"Raunchy"\n'

In [320]:
len(soup3.select("td:nth-child(1)"))

101

In [323]:
title3 = []
singer3 = []

num_iter3 = len(soup3.select("td:nth-child(1)"))

for i in range(num_iter3):
    title3.append(soup3.select("td:nth-child(2)")[i].get_text())
    singer3.append(soup3.select("td:nth-child(1)")[i].get_text())

In [325]:
for i in range(len(title3)):
    title3[i] = title3[i].replace('"', '').replace('\n', '')    
    
for i in range(len(singer3)):
    singer3[i] = singer3[i].replace('\n', '')   
       
df3 = pd.DataFrame({"song":title3,"artist":singer3})
df3

                                                  song           artist
0                                              Raunchy      Bill Justis
1                                              Raunchy    Ernie Freeman
2                                              Tequila       The Champs
3                                  Moovin' N' Groovin'       Duane Eddy
4                                       El Rancho Rock       The Champs
..                                                 ...              ...
96                                A Fifth Of Beethoven    Walter Murphy
97                                 Theme from S.W.A.T.  Rhythm Heritage
98                                       Feels So Good   Chuck Mangione
99                                            ‘'Rise’’      Herb Alpert
100  BackbeatDistortionRock bandElectric guitarElec...   CategoryPortal

[101 rows x 2 columns]

In [326]:
df1 = pd.concat([df1,df3], axis=0)
df1

                                                  song           artist
0                                              Flowers      Miley Cyrus
1                                           Last Night    Morgan Wallen
2                                             Fast Car       Luke Combs
3                        Like Crazy (Deep House Remix)            Jimin
4                         Like Crazy (UK Garage Remix)            Jimin
..                                                 ...              ...
96                                A Fifth Of Beethoven    Walter Murphy
97                                 Theme from S.W.A.T.  Rhythm Heritage
98                                       Feels So Good   Chuck Mangione
99                                            ‘'Rise’’      Herb Alpert
100  BackbeatDistortionRock bandElectric guitarElec...   CategoryPortal

[369 rows x 2 columns]

# recommender

In [347]:
song = input("Please enter a song title: ")

Please enter a song title: Flowers

In [348]:
if song in df1['song'].values:
    recommendation = df1[df1['song'] != song].sample()
    recommended_song = recommendation.iloc[0]['song']
    recommended_artist = recommendation.iloc[0]['artist']
    print(f"Here's a recommendation for you: {recommended_song} by {recommended_artist}")
else:
    print("Sorry, we don't have a recommendation at this time.")

Here's a recommendation for you: golden hour by JVKE